<form role="form" class="form-horizontal col-md-offset-2 col-md-8">
    <div class="form-group">
        <label for="email" class="col-md-2 control-label request">邮箱：</label>
        <div class="col-md-6">
            <input id="email" type="text" class="form-control" value="{{email}}">
        </div>
        <div class="col-md-2">
            <label class="msg msg-hidden control-label"></label>
        </div>
    </div>
    <div class="form-group">
        <label for="date" class="col-md-2 control-label">日期：</label>
        <div class="col-md-6">
            <input id="date" type="date" class="form-control" value="{{date}}">
        </div>
        <div class="col-md-2">
            <label class="msg msg-hidden control-label"></label>
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-md-2 control-label">地址：</label>
        <div class="col-md-6">
            <label for="switchAddr" class="control-label">开启
                <input id="switchAddr" type="checkbox" checked>
            </label>
            <input id="address" type="text" class="form-control" value="{{address}}">
        </div>
        <div class="col-md-2">
            <label class="msg msg-hidden control-label"></label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            <input id="submit" type="submit" class="btn btn-primary" name="提交">
        </div>
        <div class="col-md-1">
            <button id="back" class="btn">返回</button>
        </div>
    </div>
</form>