<button id="add" class="btn">新建</button>
<table class="table">
    <thead>
        <tr>
            <th>邮箱</th>
            <th>日期</th>
            <th>地址</th>
        </tr>
    </thead>
    <tbody id="list">
    </tbody>
</table> 